%p
  %b Owner:
  = @training.owner.display_name
%p
  %b Date:
  = l @training.date
%p
  %b Price:
  = @training.price
- if @training.finished?
  %p
    Training is
    %b finished.
    All players got his payments reminders.
