%tr
  %td
    = users_training.user.display_name
  - if attended
    %td
      - if users_training.multisport_used?
        = image_tag('http://www.sii.org.pl/static/img/007212/multisport.jpg',
          height: '32')
  %td
    - if admin? && !users_training.training.finished
      .btn-group
        = link_to attended ? 'Set as absence' : 'Set as present',
            user_training_path(users_training.user_id, users_training.training_id,
            attended: !attended), method: :put, class: 'btn btn-default'
        - if attended
          = link_to users_training.multisport_used? ? 'Set as no paid' : 'Set as multisport used',
            user_training_path(users_training.user_id, users_training.training_id,
            multisport_used: !users_training.multisport_used), method: :put, class: 'btn btn-default'
