%tr
  %td
    = users_training.user.email
  %td
    - if admin?
      = link_to 'Toogle presence',
          user_training_path(users_training.user_id, users_training.training_id,
          attended: attended), method: :put, class: 'btn btn-default'
