%tr
  %td
    = users_training.user.email
  %td
    = link_to 'Toogle presence', user_training_path(users_training.training_id,
          users_training.user_id, attended: attended), method: :put,
          class: 'btn btn-default'
