%h1 Editing training

.row
  .col-md-6.col-md-offset-1
    = render 'form'

    .btn-group
      = link_to 'Show', @training, class: 'btn btn-default'
      = link_to 'Back', trainings_path, class: 'btn btn-default'
