Hello #{@user.email},
You are invited to take a part in squash training at #{I18n.l @training.date}
Confirm play:
= @accept_url

Let your trainer know, if you can't attende. Click link below:
= @decline_url
