%h1= @user.display_name

.row
  .col-md-6.col-md-offset-1
    %h2 Trainings calendar
    .calendar{ id: "user_#{@user.id}" }
    %br
    =render 'color_info'
    - if can? :edit, @user
      %br
      .btn-group
        = link_to 'Edit', edit_user_path(@user), class: 'btn btn-default'
        = link_to 'Back', users_path, class: 'btn btn-default'
