%h1 Welcome to our squash app
.jumbotron
  %p You can watch your training schedule, watch their price.
  %p See our players profiles!
= image_tag 'player.jpg', class: 'img-responsive'
= link_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path
