!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Wsiąść do pociągu: Polska
    = stylesheet_link_tag    'ttrpl', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'ttrpl', 'data-turbolinks-track': 'reload'
  %body
    %button#pick-route-btn
      Losuj odcinek
    %h2#route ?
