%footer.footer
  %small
    = link_to 'Squash app', root_path
    by
    %a{ href: 'https://github.com/choosen' } Piotr Wasiak
  %nav
    %ul
      %li= link_to 'Arena CTS calendar',
        'https://ctarena.cms.efitness.com.pl/kalendarz-zajec'
      %li= link_to 'PFS', 'http://pfs.com.pl/'
