%footer.footer
  %small
    = link_to 'Squash app', root_path
    by
    %a{ href: 'https://github.com/choosen' } Piotr Wasiak
  %nav
    %ul
      %li= link_to 'About', 'http://about.pl'
      %li= link_to 'Contact', 'http://contact.pl'
